<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UI Kit - Callback</title>

        <link rel="stylesheet" href="../../css/main.css">
    </head>
    <body>
        <div class="app-layout">

            <nav class="sidebar">
                <a href="../../index.html" class="sidebar__home">
                    <h1 class="sidebar__logo">
                        <img src="../../img/logo.png" alt="UI Kit Logo"
                            class="sidebar__logo-img">
                        UI Kit
                    </h1>
                </a>
                <ul class="sidebar__menu">
                    <li class="sidebar__item">
                        <a href="../../index.html"
                            class="sidebar__link">Home</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="../buttons/index.html"
                            class="sidebar__link">Buttons</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="../headers/index.html"
                            class="sidebar__link">Headers</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="../footers/index.html"
                            class="sidebar__link">Footers</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="../banners/index.html"
                            class="sidebar__link">Banners</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="index.html"
                            class="sidebar__link sidebar__link--active">Callback</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="../popups/index.html"
                            class="sidebar__link">Popups</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="../forms/index.html"
                            class="sidebar__link">Order Forms</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="../timers/index.html"
                            class="sidebar__link">Timers</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="../counters/index.html"
                            class="sidebar__link">Counters</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="../lotteries/index.html"
                            class="sidebar__link">Lotteries</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="../comments/index.html"
                            class="sidebar__link">Comments</a>
                    </li>
                </ul>
            </nav>

            <main class="content">
                <header class="content-header">
                    <h2>Каталог: Обратный Звонок (Callback)</h2>
                    <p>Выберите нужный компонент "Обратный звонок" и перейдите
                        на страницу демонстрации.</p>
                </header>

                <section class="component-list">
                    <div class="component-item">
                        <a href="callback-01.html" class="component-link">
                            <div class="component-image"
                                style="background-image: url('../../img/elements/back-call/back-call-1/back-call-1.jpg');"></div>
                            <div class="component-details">
                                <h4>Callback-01</h4>
                                <p>При нажатии на иконку звонка появляется форма заказа.</p>

                            </div>
                        </a>
                    </div>

                    <!-- <div class="component-item">
                        <a href="callback-02.html" class="component-link">
                            <div class="component-image"
                                style="background-image: url('../../img/elements/back-call/back-call-1/back-call-1.jpg');"></div>
                            <div class="component-details">
                                <h4>Callback-02</h4>
                                <p></p>
                            </div>
                        </a>
                    </div> -->
                </section>
            </main>
        </div>
    </body>
</html>
