<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI Kit - Timers</title>

    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>
    <div class="app-layout">

        <nav class="sidebar">
            <a href="index.html" class="sidebar__home">
                <h1 class="sidebar__logo">
                    <img src="../../img/logo.png" alt="UI Kit Logo" class="sidebar__logo-img">
                    UI Kit
                </h1>
            </a>
            <ul class="sidebar__menu">
                <li class="sidebar__item">
                    <a href="index.html" class="sidebar__link">Home</a>
                </li>
                <li class="sidebar__item">
                    <a href="../buttons/" class="sidebar__link">Buttons</a>
                </li>
                <li class="sidebar__item">
                    <a href="../headers/" class="sidebar__link">Headers</a>
                </li>
                <li class="sidebar__item">
                    <a href="../footers/" class="sidebar__link">Footers</a>
                </li>
                <li class="sidebar__item">
                    <a href="../banners/" class="sidebar__link">Banners</a>
                </li>
                <li class="sidebar__item">
                    <a href="../back-call/" class="sidebar__link">Callback</a>
                </li>
                <li class="sidebar__item">
                    <a href="../popups/" class="sidebar__link">Popups</a>
                </li>
                <li class="sidebar__item">
                    <a href="../forms/" class="sidebar__link">Order Forms</a>
                </li>
                <li class="sidebar__item">
                    <a href="../timers/" class="sidebar__link sidebar__link--active">Timers</a>
                </li>
                <li class="sidebar__item">
                    <a href="../counters/" class="sidebar__link">Counters</a>
                </li>
                <li class="sidebar__item">
                    <a href="../lotteries/" class="sidebar__link">Lotteries</a>
                </li>
                <li class="sidebar__item">
                    <a href="../comments/" class="sidebar__link">Comments</a>
                </li>
            </ul>
        </nav>

        <main class="content">
            <header class="content-header">
                <h2>Каталог: Таймеров (Timers)</h2>
                <p>Выберите нужный компонент "Таймера" и перейдите
                    на страницу демонстрации.</p>
            </header>

            <section class="component-list">
                <div class="component-item">
                    <a href="timer-01.html" class="component-link">
                        <div class="component-image"
                            style="background-image: url('../../img/elements/timers/timer-1/timer-1.png');"></div>
                        <div class="component-details">
                            <h4>Timer-01</h4>
                            <p>Таймер находится внизу экрана.</p>

                        </div>
                    </a>
                </div>

                
            </section>
        </main>
    </div>
</body>

</html>