
#med-order .med-order-hl {
	font-weight: 700;
	color: var(--color-primary, #f00);
}

#med-order .med-order {
	--form-text-hl: rgb(37 99 235);

	max-width: 590px;
	margin-left: auto !important;
	margin-right: auto !important;
	padding: 32px 16px !important;
	text-align: center;
	background-size: 100% 100%;
	backgroud-position: center;
	background-repeat: no-repeat;
	background-image: url(../../../img/elements/forms/form-3/bg-order.jpg);
	box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
}

#med-order .med-order__sticker {
	display: inline-block;
	width: 80px !important;
	padding: 0 !important;
}

#med-order .med-order__title {
	margin: 0 0 16px;
	padding: 0;
	font-size: min(50vw, 24px);
	text-align: center;
}

#med-order .med-order__title::before,
#med-order .med-order__title::after {
	content: none;
}

#med-order .med-order__wrap {
	margin-bottom: 16px;
	text-align: center;
}

#med-order .med-order__small {
	/* @apply !text-sm block !py-0 tw-text-blue-600 mb-2; */
	font-size: 14px;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 8px;
	color: var(--form-text-hl);
}

#med-order .med-order__subtext {
	display: block;
	margin-bottom: 16px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
	max-width: 90%;
	color: var(--form-text-hl);
}

#med-order .med-order__product-wrap {
	/*   tw-relative tw-inline-block */
	position: relative;
	display: inline-block;
}

#med-order .med-order__product-img {
	/*   !tw-py-0 !tw-max-h-72 !tw-w-auto tw-mx-auto tw-mb-4 */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
	padding-top: 0;
	padding-bottom: 0;
	max-height: 350px;
	width: auto;
}

#med-order .med-order__prices {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

#med-order .med-order__price {
	font-weight: 700;
	font-size: 26px;
}

#med-order .med-order__price.med-order__price--old {
	color: #5e5e5e;
	text-decoration: line-through currentColor 3px;
}

#med-order .med-order__price.med-order__price--new {
	color: #c11717;
}

#med-order .med-order__pretext {
	border-radius: 8px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
	padding: 12px;
	font-size: 16px;
	color: rgb(37 99 235);
	line-height: 1.2;
	border: 2px solid rgb(29 78 216);
}

#med-order .form {
	--form-gap: 18px;

	width: 100%;
	margin-bottom: 1rem;
	font-family: inherit;
}

#med-order .form__group {
	position: relative;
	margin-bottom: calc(var(--form-gap) / 2) !important;
	padding: var(--form-gap) 0 0 !important;
	box-sizing: inherit;
	max-width: 320px;
	margin-right: auto;
	margin-left: auto;
}

#med-order .form__group:last-of-type {
	margin-bottom: calc(var(--form-gap) * 1.5) !important;
}

#med-order .form__field {
	@apply tw-border tw-border-solid tw-border-blue-600 tw-rounded-md;
	box-sizing: inherit;
	display: block;
	padding: 8px 16px;
	border: 1px solid rgb(37 99 235);
	border-radius: 8px;
	width: 90%;
	font-family: inherit;
	font-size: var(--font-size, 18px);
	line-height: 1;
	text-align: left;
	outline: none;
	height: auto;
}

#med-order .form__field::-moz-placeholder {
	color: transparent;
}

#med-order .form__field:-ms-input-placeholder {
	color: transparent;
}

#med-order .form__field::placeholder {
	color: transparent;
}

#med-order .form__field:-moz-placeholder-shown~.form__label {
	top: calc(var(--form-gap) * 1.7);
	left: 1rem;
	font-size: var(--font-size);
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	cursor: text;
}

#med-order .form__field:-ms-input-placeholder~.form__label {
	top: calc(var(--form-gap) * 1.7);
	left: 1rem;
	line-height: 1;
	font-size: var(--font-size);
	color: rgba(0, 0, 0, 0.8);
	cursor: text;
}

#med-order .form__field:placeholder-shown~.form__label {
	top: calc(var(--form-gap) * 1.7);
	left: 1rem;
	line-height: 1;
	font-size: var(--font-size, 18px);
	color: rgba(0, 0, 0, 0.8);
	cursor: text;
}

#med-order .form__field:focus~.form__label {
	position: absolute;
	top: 0;
	left: 8px;
	display: block;
	font-size: 12px;
	color: #333;
}

#med-order .form__field:required,
#med-order .form__field:invalid {
	box-shadow: none;
}

#med-order .form__label {
	position: absolute;
	top: 0;
	left: 8px;
	display: block;
	font-family: inherit;
	transition: 0.2s;
	font-weight: 700;
	font-size: 12px;
	line-height: 1;
	color: #333;
}

#med-order .form__label>span {
	color: var(--grad-to, #333);
}

#med-order .form__btn {
	box-sizing: inherit;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid transparent;
	border-radius: var(--form-radius, 0.375rem);
	padding: 10px 16px;
	width: 90%;
	height: auto;
	max-width: 320px;
	font-weight: 700;
	font-size: var(--font-size);
	line-height: 1.2;
	text-transform: uppercase;
	color: #fff;
	background-color: var(--background-color, #2f71f5);
	border: 1px solid transparent;
	cursor: pointer;
	transition-property: color, background-color, border-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

#med-order .form__btn:hover,
#med-order .form__btn:focus {
	color: var(--background-color, #2f71f5);
	background-color: #fff;
	border-color: currentColor;
}

#med-order .med-order__bottom-text {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.2;
	color: rgb(37 99 235);
}

#med-order .med-order__bottom-text:not(:last-child) {
	margin-bottom: 8px;
}

#med-order .med-order__title {
    margin: 0 0 16px;
    padding: 0;
    font-size: min(50vw, 24px);
    text-align: center;
}
h2 {
    /* text-align: center; */
    font-size: 26px;
    color: #29292c;
    line-height: 1.1;
    margin-bottom: 20px;
}
#med-order .med-order-hl {
    font-weight: 700;
    color: #0da4b5;
}
#med-order .med-order__product-wrap {
    position: relative;
    display: inline-block;
}
.stamps--form {
    position: relative;
    min-height: 300px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.stamps--form .stamps__inner {
    position: static;
}
.tw-max-w-full {
    max-width: 100%;
}

.tw-max-h-\[350px\] {
    max-height: 350px;
}
.tw-block {
    display: block;
}
a img {
    border: 0;
}
.stamps--form .stamps__wrapper--abs {
    bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column!important;
}
.stamps__wrapper--abs {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.stamps--form .stamps__wrapper--abs img {
    max-height: 80px;
}
#med-order .form__group {
    position: relative;
    margin-bottom: calc(var(--form-gap) / 2) !important;
    padding: var(--form-gap) 0 0 !important;
    box-sizing: inherit;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
}

 @media (max-width: 480px) {
    #med-order .form__btn {
    width: 80%;
    }
   #med-order .form__field  {
        width: 84%;
    }
  }